.laptop-slider{

    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
    overflow-x: auto;

    &__show{
        white-space: nowrap;

        figure{
            display: inline-block;
        }
    }
}

.js .laptop-slider{
    overflow: hidden;
    color: white;
}

.js .laptop-slider .laptop-slider__show{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
}

.js .laptop-slider figure{
   
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
}

.js .laptop-slider figure.show{
    opacity: 1;
    position: static;
    // top: 0;
    // left: 0;
}

.js .laptop-slider .prev, .js .laptop-slider .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.js .laptop-slider .prev{
    left: 10px;
}

.js .laptop-slider .next{
    right: 10px;
}

