.footer{
    background-color: #242a2c;
    padding: 50px 0 250px;
    color:#454e51 ;
    font-size: 14px;

    &__logo{
        text-transform: uppercase;
    }

    &__links{

        li{
            list-style: none;

            a{
                color: #454e51;
                display: block;
                font-weight: 600;
                text-decoration: none;
                padding: 20px 10px;
                transition: color .3s ease;
               

                &:hover{
                    //  background-color: #63c6ae;
                     color:  #63c6ae;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer{

        & .container{
            display: flex;
        }

        & .container > *{
            margin: 1.5em;
        }
    }
}
