.header{

    background-color: #fff;
    width: 100%;


    &__logo{
        text-transform: uppercase;
        background-color: #63c6ae;
        font-size: 24px;
        margin: 0;
        padding: 20px;
        text-decoration: none;
        display: block;
        font-weight: bold;
        color: #fff;
        float: left;
    }

    &__btnMenu{

    }

    &__nav{
        // display: inline-block;
        clear: left;

        ul{
            margin: 0;
            padding: 0;

            li{
                list-style: none;
                background: #242c2c;
                text-align: center;
                border-bottom: 2px dotted rgba(255,255,255, 0.2);
                
                a{
                    padding: 25px 0;
                    display: block;
                    text-transform: uppercase;
                    color: #586165;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    transition: color .4s ease;

                    &:hover{
                        color: #63c6ae;
                    }
                }
            }
        }
    }
}

// responsive

@media screen and (min-width: 1024px){

    .header{
        position: fixed;

        &__logo{
            width: 25%;
            text-align: end;
            box-sizing: border-box;
        }

        &__btnMenu{
            display: none;
        }

        &__nav{
            float: left;
            width: 75%;
            clear: none;
            max-width: 800px;

            ul{
                display: flex;
                justify-content: space-around;
                
                li{
                    flex-grow: 1;
                    border: none;
                    a{
                        background-color: #fff;
                       
                    }
                }
            }
        }
    }
}


